<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Metrics Solution</title>
        <!-- Fonts -->
        <!-- <link href='//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="fixes.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#godown').height($("#ss_fixed_nav").height());
                window.onresize = function() {
                    $('#godown').height($("#ss_fixed_nav").height());
                }
            });
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar-default navbar-fixed-top" id="ss_fixed_nav">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle Navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">
                                    <img class="hidden-xs hidden-sm img-responsive" src="images/modLogo.png" alt="logo description" />
                                    <img class="hidden-xs visible-sm img-responsive" src="images/modLogo-half.png" alt="logo description" />
                                    <img class="visible-xs img-responsive" src="images/modLogo-small.png" alt="logo description" />
                                </a>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class=""><a href="http://salesperformanceindicator.com">Manage Users</a></li>
                                    <li class="active"><a href="http://salesperformanceindicator.com/companies">Manage Companies</a></li>
                                    <li class=""><a href="http://salesperformanceindicator.com/reports">Reports</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as System <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="http://salesperformanceindicator.com/myprofile">MyProfile</a></li>
                                            <li><a href="http://salesperformanceindicator.com/auth/logout">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div id="godown"></div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h2>Create New Company</h2>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-body">
                        <div class="col-md-10 col-md-offset-1">
                            <form method="POST" action="https://salesperformanceindicator.com/companies" accept-charset="UTF-8" class="form-horizontal"><input name="_token" type="hidden" value="9PrY6TCdQl5ZOq9LecZuXVio9fHgAWh0UgwC5dr2">
                                <fieldset>
                                    <div class="form-group">
                                        
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 vcenter"><label for="name" class="control-label label-vcenter">Company Name*</label>
                                        </div><div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 vcenter">
                                            <input class="form-control vcenter" name="name" type="text" id="name">
                                        </div>
                                    </div>
                                    <input name="updated_by" type="hidden" value="1">
                                    <input name="updated_by" type="hidden" value="1">
                                    <div class="form-group">
                                        <div class="col-lg-8 col-lg-offset-4 col-md-8 col-md-offset-4">
                                            <a href="https://salesperformanceindicator.com/companies" class="btn btn-default pull-right">Cancel</a>
                                            <input class="btn btn-primary" type="submit" value="Update">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <footer>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center back-to-top">
                        <a class="btn btn-default" href="#top">Back to top</a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="list-unstyled">
                            <li>
                                <div class="footer-copyright">
                                    <div class="container text-center">
                                        Sales Performance Indicator | &copy; 2014-2015 Good as Gold Training, All rights reserved.<br />
                                        <a class="grey-text text-lighten-4 right" href="mailto:support@staffingandrecruiting.com">support@staffingandrecruiting.com | 219 663 9609</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>